@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 8px 150px 75px;
    gap: 50px;
}

.top-banner {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
}

.hero-text {
    flex: 1;
}

.hero-main {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    padding-right: 50px;
}

.hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
    padding-right: 50px;
}

.hero-button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
}

.hero-image {
    color: #E5E7EB;
    background-color: gray;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.info-container {
    display: flex;
}

.info-card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 120px;
}
.info-image {
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    border: 3px #3882F6;
    border-style: solid;
    border-radius: 8px;
}