@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-banner {
    display: flex;
    justify-content: space-between;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 100px
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}